@model IEnumerable<Consumer>
@{
}
<div class="container">
    <div class="title text-md-start">
        <h2 class="position-relative d-inline-block">Consumers</h2>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Id)</td>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var consumer in Model)
            {
                <tr>
                    <td>@consumer.Id</td>
                    <td>@consumer.FirstName</td>
                    <td>@consumer.LastName</td>
                    <td>@consumer.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>