@using BiahsJewels.Mvc.Models.ViewModel;
@model ShoppingCartVM
@{
}
<div class="container">
    <div class="title text-md-start">
        <h2 class="position-relative d-inline-block">Cart</h2>
    </div>
</div>
<div class="container">
    <h3>Items in Cart: @Model.ProductsInCart.Count()</h3>

    @foreach (var item in @Model.ProductsInCart)
    {
        <div class="col-md-8 col-lg-8 col-xl-5 p-2">
            <div class="card">
                <div class="card-header">
                    <h4>@item.Product.Name</h4>
                    <p>@item.Product.Category.CategoryName</p>
                </div>
                <div class="card-body">
                    <p>
                        @item.Product.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>